body {
  min-height: 100vh;
  background: var(--background);

}

#root {
  font-family: 'Lekton-Regular';
  min-height: 100vh;
  height: 100%;
  padding-bottom: 16rem;
  position: relative;
}




a {
  text-decoration: none;
  color: var(--paragraph);
  cursor: pointer;
}

a:hover {
  color: var(--highlight);
}

header {
  height: 4rem;
}

footer {
  height: 8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}