:root {
  /* Colors */
  /*-- Elements --*/
  --background: #eff0f3;
  --headline: #0d0d0d;
  --paragraph: #2a2a2a;
  --button: #ff8e3c;
  --button-text: #0d0d0d;

  /*-- Illustration --*/
  --stroke: #0d0d0d;
  --main: #eff0f3;
  --secondary: #fffffe;
  --highlight: #ff8e3c;
  --tertiary: #d9376e;


  /* Size */
  --size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

}