/* Footer Styles */

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

#footer--nav, #footer--socialMedia{
  width: 50%;
  border-left: 1px solid black;
  padding-left: 2rem;
}

#footer--nav ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;

}

#footer--socialMedia{
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

#footer--socialMedia > a{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

#footer--socialMedia > a img{
  height: 1.7rem;
}