/* Cards Styles */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(137, 132, 132);
  padding: 2rem;
  border-radius: 15px;
}


.card-info {
  color: white;
  padding-top: 2rem;
  line-height: 1rem;
  
}


.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: .5rem;
}

.card-subtitle {
  line-height: 1.2rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.card-label-container{
  padding-top:1rem ;
  display: flex;
  gap: 1rem;
}

.card-label{
  background: rgba(118, 117, 117, 0.49);
  border-radius: 15px;
  padding: .3rem;
}

.card-buttons-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.card-link {
  margin-top: 1.3rem;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}
