/* Contact Styles */
#contact-area{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

#contact-form, #contact-separator-container, #contact-info-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#contact-form{
  gap: 1.5rem;
}

.contact-area--buttons{
  display: flex;
  padding-top: 1.5rem;
  flex-direction: row;
  justify-content:center;
    gap: 2rem;
}

#contact-form .contact-input{
  background: none;
  border: 0;
  border-bottom: 1px solid black;
}
#info{
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border: 1px solid black;
}

@media (min-width: 1024px) {
  #contact-form{
    padding-left: 16rem;
    padding-right: 16rem;
  }
}